<div class="lists">
    <ng-container *ngFor="let list of lists">
        <div class="list">
            <h2 class="list-name" (click)="viewFullList(list.list_name_encoded)">{{list.display_name}}</h2>
            <div class="books">
                <ng-container *ngFor="let book of list.books">
                    <div class="book">
                        <div class="book-thumbnail-container">
                            <img src={{book.book_image}} alt="Cover art" class="book-thumbnail">
                        </div>
                        <div class="book-description">
                            <p class="book-title">{{book.title}}</p>
                            <p class="book-author">{{book.author}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>